/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, li, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

/* ROOT */

:root {
    --bz_green: #4D9388;
    --bz_gray: #DBDBD4;
    --chat_green: #DEF8C0;
    --chat_azure: #A6D7F9;
    --chat_lightgray: #EAEAEA;

}

/* LAYOUT */
.continer {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
}

.col-4 {
    display: none;

}

.col-8 {
    display: none;

}

.col-15-md.col-3-lg {
    display: none;
    
}

#app {
    height: 100vh;
    background-color: var(--bz_green);
}



/* LAYOUT TABLET */
@media (min-width: 576px) {

    .col-85-md {
        width: calc(100% - 100px);

    }

    .col-15-md.col-3-lg.block {
        width: 100px;
        display: block;
        
    }


    .col-100-md {
        width: 100%;
        display: flex;
    }
    
}



/* LAYOUT DESKTOP */
@media (min-width: 992px) {

    .container {
        width: 80%;
    }

    .col-9-lg {
        width: calc(9 * 100 / 12);
        aspect-ratio: 1;
    }

    .col-15-md.col-3-lg.block {
        width: calc(3 * 100 / 12);
        display: block;
        
    }

    .col-4.col-100-md {
        display: flex;
        width: calc(4 * 100% /12);
    }

    .col-8 {
        display: flex;
        width: calc(8 * 100% /12);
    }
    
}



/* BACK-GROUND SECTION */


/* APP SECTION */

/* APP_BODY SECTION */

/* NAV BAR SECTION */

/* CHAT SECTION */









/*  DEBUG */

.debug .container {
    background-color: green;
}

.debug .col-15-md.col-3-lg {
    padding: 20px;
    background-color: blue;
}

.debug .col-100.col-85-md.col-9-lg {
    padding: 20px;
    background-color: red;
}

.debug .col-4 {
    background-color: magenta;
    padding: 10px;
}

.debug .col-8 {
    background-color: yellow;
    padding: 10px;
}