/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, li, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

/* ROOT */

:root {
    --bz_green: #4D9388;
    --bz_gray: #DBDBD4;
    --chat_green: #DEF8C0;
    --chat_azure: #A6D7F9;
    --chat_lightgray: #EAEAEA;

}


/* LAYOUT */
#app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, var(--bz_green) 0, var(--bz_green)  15%, var(--bz_gray) 15%, var(--bz_gray) 100%)
  
}


.app_content {
    width: 100%;
    height: 100%;
    
}

.app_wrap {
    display: flex;
    height: 100%;
}

.app_chat {
    width: 100%;
}

.app_side {
    display: none;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}





/* LAYOUT TABLET */
@media (min-width: 576px) {

    .app_chat {
        width: calc(100% - 100px);

    }

    .app_side.block {
        width: 100px;
        display: block;
        
    }

    
}



/* LAYOUT DESKTOP */
@media (min-width: 1200px) {

    .app_content {
        width: 80%;
        max-width: 1024px;
        margin: 0 auto;
    }

    #app {
        padding: 32px 0;
    }


    .app_side.block {
        width: 340px;
        display: block;
        
    }

    .app_chat {
        aspect-ratio: 1;

    }


}





/*  DEBUG */

.debug .container {
    border: dotted 2px black;
}

.debug .app_side {
    padding: 20px;
    background-color: blue;
}

.debug .app_chat {
    padding: 20px;
    background-color: red;
}

